body{
  background: url(../img/3.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
}
a:hover
{
border-bottom: 3px solid rgb(165, 235, 150);
    
    color: rgb(87, 212, 29);

}
.navbar-collapse
{
    margin-right: 0 !important;
}
.Info h2{
  color: #F4A950;
  font-family: 'Averia Serif Libre', cursive;
  padding-left: 580px;
  text-decoration:dashed;
  padding-bottom: 40px;
}

.nav-item{
  padding-right:50px;
  text-align: center;
}
.nav-link{
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  color: rgb(87, 212, 29);
  
}
.navbar-brand{
  font-family: 'Libre Baskerville', serif;
  font-style:normal;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  color: rgb(87, 212, 29);
  

}
.fas{
  color: green;
}

.abt{
  text-align: center;
  background-color: aliceblue;
  padding: 50px 0 150px 0;
  clear: both;
  background-color: beige;
 
  
  font-family: 'Alegreya', serif;
  color: #CC6600;
  font-size: x-large;
  
}
.plant{
  padding:200px auto 150px 200px;
  float: left;
  border-radius: 52%;
  width: 25rem;
  height: 25rem;
}

.links{
   margin-bottom: 0px;
  background-color:blanchedalmond;
  background: url(../img/4.jpg);
  padding-bottom: 50px;
}
.foot{
  margin-left: 650px;

}
.foot li{
  position: relative;
  padding-top: 50px;;
  display: inline-block;
  list-style-type: none;
  padding-left: 25px;
  
}
.Copyright{
  margin-bottom: 0;
  text-align: center;
  font-weight: 900;
}
.foot li i{
  font-size: large;
}

.gm{
  color: red;

}
.ig{
  color:palevioletred;
}
.form{
  padding-left: 680px;
  position: relative;
  top: 220px;
}
.Info{
 background: #F0A07C;
 background: #1D1B1D;
  height: 600px;
}
.bhashan{
 margin-top: 40px;
  font-family: 'Averia Serif Libre', cursive;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  color:#EC4D37;
  clear: both;

}
.tree1{
  padding:40px 0 auto auto;
  float: left;
  height: 15rem;
  border-radius: 50%;
  margin-top: 20px;
}
.tree2{
  height: 15rem;
  width: 20rem;
  border-radius: 50%;
  float: right;
  position: relative;
  bottom: 40px;
  right: 80px;
}
.tr2{
  position: relative;
  top: 180px;
  left: 20px;
}